<ion-header>
  <ion-toolbar>
    <ion-title>
      sf so ^^s
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="LoginForm">
      <ion-item>
        <ion-label  position="stacked">Id <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="username" required type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mdp <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="pwd" required type="password" ></ion-input>
      </ion-item>
    </form>
      <ion-button size="small" (click)="doLogin()" class="ion-no-margin">Connection</ion-button>
    <ion-button  size="small" (click)="doSignup()" class="ion-no-margin">singup</ion-button>



  </div>
</ion-content>
